<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	</head>
	<body>
		<div class='jumbotron text-center' style='background-color:#005bbb;'>
			<font color='white'><h1>Auto ML</h1></font>
		</div>
		<form method="post" action="/results">
			<div class='col-xs-12'>
				<h2>Step 4:</h2>
				<h4><u>Suggested Machine Learning Models:</u></h4>
			</div>
			
			<div class = 'col-xs-12'>
				{% for model in models %}
					<div class='col-xs-4'>
						<input type="checkbox" name="models" value="{{ model }}"><label>{{ model }}</label>
					</div>
				{% endfor %}
				<br><br>
			</div>
			
			<div class='col-xs-12'>
				<h4><u>Choose Train Test Split:</u></h4>
			</div>
			<div class ='col-xs-12'>
				<div class='col-xs-3'>
					<input type='radio' name='split' value='0.5'><label>50 : 50</label>
				</div>
				<div class='col-xs-3'>
					<input type='radio' name='split' value='0.4'><label>60 : 40</label>
				</div>
				<div class='col-xs-3'>
					<input type='radio' name='split' value='0.3'><label>70 : 30</label>
				</div>
				<div class='col-xs-3'>
					<input type='radio' name='split' value='0.2'><label>80 : 20</label>
				</div>
			<div class='col-xs-6' style="display: inline">
				<input type="submit" name='form4' class='btn btn-primary'  value="Next">
			<br><br>
			</div>
		</form>
		
	</body>
<html>
	
	